-
	var managers = [
		{
			title: 'manager0',
			email: 'check',
			pass: 'check',
			baseSize: 'server-3',
			web: 'check',
			notReg: 'check',
			rus: 'close',
			free: 'check',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager1',
			email: 'check',
			pass: 'close',
			baseSize: 'server-3',
			web: 'check',
			notReg: 'check',
			rus: 'check',
			free: 'check',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager2',
			email: 'close',
			pass: 'check',
			baseSize: 'close',
			web: 'check',
			notReg: 'check',
			rus: 'check',
			free: 'check',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager3',
			email: 'check',
			pass: 'check',
			baseSize: 'server-3',
			web: 'check',
			notReg: 'close',
			rus: 'close',
			free: 'close',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager4',
			email: 'close',
			pass: 'check',
			baseSize: 'close',
			web: 'close',
			notReg: 'check',
			rus: 'check',
			free: 'check',
			result: 'check',
			desktop: 'close',
		},
		{
			title: 'manager5',
			email: 'check',
			pass: 'close',
			baseSize: 'server-1',
			web: 'check',
			notReg: 'close',
			rus: 'close',
			free: 'close',
			result: 'close',
			desktop: 'close',
		},
		{
			title: 'manager6',
			email: 'minus',
			pass: 'minus',
			baseSize: 'close',
			web: 'check',
			notReg: 'close',
			rus: 'close',
			free: 'close',
			result: 'close',
			desktop: 'check',
		},
	]

section.compare-section
	.container-lg
		.comp-table
			.comp-table__row.comp-table__row--heading
				.comp-table__cell.comp-table__cell--fixed Сравнение менеджеров паролей
				each manager in managers
					.comp-table__cell
						img.comp-table__logo(src="/img/content/managers/" + manager.title + ".png" alt=manager.title)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Проверка E-mail
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.email)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Проверка пароля
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.pass)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Размер базы учетных данных
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.baseSize)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Наличие web-версии
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.web)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Не нужна регистрация
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.web)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Русифицирован
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.rus)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Доступен полностью бесплатно
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.rus)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Результат проверки доступен сразу
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.rus)
			.comp-table__row
				.comp-table__cell.comp-table__cell--fixed Наличие десктопной версии
				each manager in managers
					.comp-table__cell
						i(class="icon-" + manager.rus)

		//- table.compare-table
			thead
				tr.compare-table__row
					th.compare-table__cell Сравнение менеджеров паролей
						each manager in managers
							td.compare-table__cell
								img.compare-table__logo(src="/img/content/managers/" + manager.title + ".png" alt=manager.title)
			tbody
				tr.compare-table__row
					th.compare-table__cell Проверка E-mail
						each item in managers
							td.compare-table__cell #{item.email}

				tr.compare-table__row
					th.compare-table__cell Проверка пароля
						each item in managers
							td.compare-table__cell #{item.pass}

				tr.compare-table__row
					th.compare-table__cell Размер базы учетных данных
						each item in managers
							td.compare-table__cell #{item.baseSize}

				tr.compare-table__row
					th.compare-table__cell Наличие web-версии
						each item in managers
							td.compare-table__cell #{item.web}

				tr.compare-table__row
					th.compare-table__cell Не нужна регистрация
						each item in managers
							td.compare-table__cell #{item.notReg}

				tr.compare-table__row
					th.compare-table__cell Русифицирован
						each item in managers
							td.compare-table__cell #{item.rus}
					
				tr.compare-table__row
					th.compare-table__cell Доступен полностью бесплатно
						each item in managers
							td.compare-table__cell #{item.free}

				tr.compare-table__row
					th.compare-table__cell Результат проверки доступен сразу
						each item in managers
							td.compare-table__cell #{item.result}

				tr.compare-table__row
					th.compare-table__cell Наличие десктопной версии
						each item in managers
							td.compare-table__cell #{item.desktop}