-
	var passStates = [
		{
			type: 'pass',
			state: 'compr',
			title: 'Внимание! Этот пароль был скомпрометирован <span>65536</span> раз!',
			descr: 'Настоятельно рекомендуем вам нигде не использовать этот пароль. Если вы используете его – смените его на новый на всех ресурсах, где он используется. Бесплатно сгенерировать криптостойкий пароль можно с помощью <a href="#">AZPassword.</a>',
			action: {
				title: 'Что теперь делать?',
				steps: [
					'Не поддаваться панике и поменять пароль на всех ресурсах, где вы его используете.',
					'Для надежного хранения паролей используйте один из <a href="#">Топ 7</a> менеджер паролей.',
					'Используйте <a href="#">генератор паролей</a> для создания криптостойких паролей.',
				],
			},

		},
		{
			type: 'pass',
			state: 'clear',
			title: 'Этот пароль не был скомпрометирован ',
			descr: 'Среди <span>10,199,352,448</span> скомпрометированных логинов и паролей нет указанноло пароля. Однако, мы не можем гарантировать того, что этот пароль никогда не был скомпрометирован. Просто нам не известен факт утечки проверяемого пароля.',
			action: {
				title: 'Даже если ваш пароль не скомпрометирован',
				steps: [
					'Регулярно меняйте пароли.',
					'Для надежного хранения паролей используйте один из <a href="#">Топ 7</a> менеджер паролей.',
					'Используйте <a href="#">генератор паролей</a> для создания криптостойких паролей.',
				],
			},

		},
		{
			type: 'login',
			state: 'clear',
			title: 'Этот логин не был скомпрометирован',
			descr: 'Среди <span>9,555,428,218</span> скомпрометированных логинов и паролей нет указанноло пароля. Однако, мы не можем гарантировать того, что этот пароль никогда не был скомпрометирован. Просто нам не известен факт утечки проверяемого пароля.',
			action: {
				title: 'Даже если ваш логин не скомпрометирован',
				steps: [
					'Регулярно меняйте пароли.',
					'Для надежного хранения паролей используйте один из <a href="#">Топ 7</a> менеджер паролей.',
					'Используйте <a href="#">генератор паролей</a> для создания криптостойких паролей.',
				],
			},

		},
		{
			type: 'login',
			state: 'compr',
			title: 'Внимание! Этот логин был скомпрометирован <span>65536</span> раз!',
			descr: 'Настоятельно рекомендуем вам сменить пароли на всех ресурсах, использующий этот логин. Бесплатно сгенерировать криптостойкий пароль можно с помощью <a href="#">AZPassword.</a>',
			action: {
				title: 'Что теперь делать?',
				steps: [
					'Не поддаваться панике и поменять пароль на всех ресурсах, где вы используете этот логин.',
					'Для надежного хранения паролей используйте один из <a href="#">Топ 7</a> менеджер паролей.',
					'Используйте <a href="#">генератор паролей</a> для создания криптостойких паролей.',
				],
			},

		},
	];
-
	var leakSrc = [
		'000webhost',
		'500px',
		'8tracks',
		'Acne.org',
		'Adobe',
		'Aipai.com',
		'AnimeGame',
		'Animoto',
		'Apollo',
		'Appen',
		'Aptoide',
		'Armor Games',
		'Army Force Online',
		'Artsy',
		'Artvalue',
		'Atlas Quantum',
	]

section.pass-state
	each item in passStates
		.pass-state__item(class="pass-state__item--" + item.type class="pass-state__item--" + item.state)
			.pass-state__inner
				.container-lg
					.row
						.col-12.col-lg-6
							.pass-state__result
								.container.p-lg-0
									h3.pass-state__title !{item.title}
									.result-row
										.pass-state__icon
											if item.type == 'login'
												i.icon-profile
											else if item.type = 'pass'
												i.icon-pass
										.pass-state__descr !{item.descr}
						.col-12.col-lg-6
							.pass-state__actions
								.container.p-lg-0
									h3.pass-state__actions-title #{item.action.title}
									ol.action-list
										each action in item.action.steps
											li.action-list__item !{action}
			if item.type == 'login' && item.state == 'compr'
				.leaks-list
					.container
						h4.leaks-list__title Источники утечки этого логина
						ul.leaks-list__list
							each leak in leakSrc
								li.leaks-list__item #{leak}
						button.leaks-list__more(type="button")
							i.icon-eye
							| Еще
							span 65520
							| источников
